<h1>Take-Away Order Receipt</h1>

<p>
  Hello <%= @order.user.name -%>,
  <br><br>
  Your order for take-away food was received.
  <br><br>
  It will be ready by your pick-up time of <%=@order.pickup_time -%>
  <br><br>
  You ordered the following <%= 'item'.pluralize(@order.order_items.length) -%>:
</p>

<table border="1", style="border-collapse:collapse">
  <tr>
    <th>Quantity</th>
    <th>Description</th>
  </tr>
  <%= render @order.order_items -%>
</table>
