# This file is used by Figaro (gem) to set and get ENV vars.

SMTP_USERNAME: 'account_username'  # username for sendgrid account 
SMTP_PASSWORD: 'account_password'  # password for sendgrid account
SMTP_DOMAIN:  'herokuapp.com'
SMTP_ADDRESS: 'smtp.email_service.net'

order_receipt_from_email: 'tma_kitchen@gmail.org'


