# This file is used by Figaro to set and get environmentals

# This file should NOT be maintained in git.

SMTP_USERNAME: 'account_username'
SMTP_PASSWORD: 'account_password'
SMTP_DOMAIN:  'herokuapp.com'
SMTP_ADDRESS: 'smtp.email_service.net'

order_receipt_from_email: 'tma_kitchen@gmail.org'

STRIPE_API_KEY: 'sk_test_apikey'
